<div class="bg-white rounded-xl shadow-sm border border-slate-200 p-6">
  <div class="flex items-center justify-between mb-6">
    <h3 class="text-lg font-semibold text-slate-800">Artigos Recentes</h3>
    <a
      [routerLink]="['/home/posts']"
      class="text-indigo-600 text-sm font-medium hover:text-indigo-700"
      >Ver todos →</a
    >
  </div>

  <div class="space-y-4">
    <!-- Iteração sobre os artigos -->
    @for (article of post; track article.id) {
      <div
        class="flex items-center justify-between p-4 rounded-lg hover:bg-slate-50 transition border border-slate-100"
      >
        <div class="flex items-center space-x-4">
          <!-- Imagem do artigo -->
          <div class="w-16 h-16" [ngClass]="article.featuredImage"></div>
          <div>
            <!-- Título e descrição do artigo -->
            <h4 class="font-semibold text-slate-800">{{ article.title[selectedLanguage] }}</h4>
            <p class="text-sm text-slate-500">{{ article.excerpt[selectedLanguage] }}</p>
          </div>
        </div>

        <!-- Status do artigo -->
        <span
          class="px-3 py-1 text-sm font-medium rounded-full"
          [ngClass]="getStatusClass(article.status)"
        >
          {{ article.status }}
        </span>
      </div>
    }
  </div>
</div>
