/* You can add global styles to this file, and also import other style files */
@use 'tailwindcss';

:root {
  --primary-bg: #f5f5f5;
  --primary-text: #1f2937;
  --secondary-text: #6b7280;
  --accent: #3b82f6;
  --card-bg-color: #ffffff;
  --white-color: #ffffff;
}

.dark {
  --primary-bg: #181e26;
  --primary-text: #f9fafb;
  --secondary-text: #9ca3af;
  --accent: #60a5fa;
  --card-bg-color: #1f2937;
  --white-color: #272c31;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

// body {
//   @apply bg-[var(--primary-bg)] text-[var(--primary-text)];
// }

app-root {
  display: block;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.prose h2 {
  @apply text-2xl font-semibold text-gray-900 mt-6 mb-4;
}

.prose h3 {
  @apply text-xl font-semibold text-gray-800 mt-5 mb-3;
}

.prose p {
  @apply text-gray-700 leading-relaxed mb-4;
}

.prose ul {
  @apply list-disc pl-6 mb-4;
}

.prose li {
  @apply mb-2 text-gray-700;
}

.prose a {
  @apply text-blue-600 underline hover:text-blue-500;
}
