<div class="container">
  <!-- Cabeçalho -->
  <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-4 mb-6">
    <div class="space-y-1">
      <h1 class="text-2xl font-bold tracking-tight">Dashboard</h1>
      <p class="text-muted-foreground">Visão geral do desempenho do blog.</p>
    </div>
  </div>

  <!-- Cartões Estatísticos -->
  <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-4 mb-8">
    @for (stat of blogDashboardCards; track $index) {
      <app-stat-card [isLoading]="isLoading" [stat]="stat"></app-stat-card>
    }
  </div>

  <!-- Gráficos -->
  <div class="grid gap-6 lg:grid-cols-12 mb-8">
    <div class="lg:col-span-5 flex flex-col gap-6">
      <app-chart
        [title]="'Posts por Status'"
        [data]="postsByStatusChart"
        [chartType]="'doughnut'"
      />

      <app-chart [title]="'Fontes de Tráfego'" [data]="trafficSourcesChart" [chartType]="'bar'" />
    </div>
    <div class="lg:col-span-7 flex">
      <app-chart
        class="w-full"
        [title]="'Visualizações (últimos 7 dias)'"
        [data]="viewsOverTimeChart"
        [chartType]="'line'"
      />
    </div>
  </div>

  <!-- Posts Recentes e Logs -->
  <div class="grid gap-6 lg:grid-cols-12 mb-8">
    <div class="bg-white shadow-lg lg:col-span-6">
      <app-post-card-dash [posts]="recentPosts" [selectedLanguage]="'PT'" />
    </div>
    <div class="bg-white shadow-lg lg:col-span-6">
      <app-log-item [logs]="recentLogs" />
    </div>
  </div>
</div>
